<a href="https://colab.research.google.com/github/BonthuMahavishnu/FMML-ASSIGNMENTS_AND_LABS/blob/main/practice_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas                               # in  other platform we can't install any library  use this method
                                                  #    "!"
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [ ]:
import pandas as pd                                  # importing method
import numpy as np                                                 # series method: one dimension


d=pd.Series([2,3,4,5,6,8])
print(d)

0    2
1    3
2    4
3    5
4    6
5    8
dtype: int64

In [ ]:
Data={"ABHI":["HAI","HOW WAS YOUR DAY","NICE"], "SITA":["HELLO","PERFECT","YEAH"]}


Tej=pd.DataFrame(Data)                                        # DATAFRAME means  more than one dimension similar to multi dimension

print(Tej)

               ABHI     SITA
0               HAI    HELLO
1  HOW WAS YOUR DAY  PERFECT
2              NICE     YEAH

In [ ]:
Data={"Hai":[11,12,13,14,15,16],"Hello":[21,22,23,24,25,26]}

Vis=pd.DataFrame(Data)
print(Vis)

   Hai  Hello
0   11     21
1   12     22
2   13     23
3   14     24
4   15     25
5   16     26

In [ ]:
# Basic data operations
                                                                           #viewing data

V=Vis.head()
print(V)                                       #   accessing first five rows

   Hai  Hello
0   11     21
1   12     22
2   13     23
3   14     24
4   15     25

In [ ]:
V=Vis.tail()                                    # accessing  last five rows (hint:- not reverse)
print(V)

   Hai  Hello
1   12     22
2   13     23
3   14     24
4   15     25
5   16     26

In [ ]:
V=Vis.columns                                          #accessing columns
print(V)

Index(['Hai', 'Hello'], dtype='object')

In [ ]:
V=Vis.shape
print(V)

   #so it is combination of rows and columns

(6, 2)

In [ ]:
V=Vis.info()                                 # it tells about  null,non-null values
print(V)

F=Tej.info()
print(F)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hai     6 non-null      int64
 1   Hello   6 non-null      int64
dtypes: int64(2)
memory usage: 224.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ABHI    3 non-null      object
 1   SITA    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
None

In [ ]:
V=Vis.describe()                           #it tells  about  overall view
print(V)

v=Tej.describe()
print(v)

             Hai      Hello
count   6.000000   6.000000
mean   13.500000  23.500000
std     1.870829   1.870829
min    11.000000  21.000000
25%    12.250000  22.250000
50%    13.500000  23.500000
75%    14.750000  24.750000
max    16.000000  26.000000
       ABHI   SITA
count     3      3
unique    3      3
top     HAI  HELLO
freq      1      1

In [ ]:
# selecting data
Yam={
    "Rollno": [4215, 4217, 4262, 4220, 4235, 4245, 4222, 4264],
    "Names": ["YAMINI", "TEAJA", "Vishnu", "YASHODAR", "PRADEEP", "TARUN", "MADAVA", "hemanth"],
    "Jvd":["paid","notpaid","paid","paid","notpaid","paid","NOtpaid",""],
    "Marks":[40,56,47,48,49,50,52,70]
}

data = pd.DataFrame(Yam)

print(data)

print(data["Rollno"])               # it tells about single column

   Rollno     Names      Jvd  Marks
0    4215    YAMINI     paid     40
1    4217     TEAJA  notpaid     56
2    4262    Vishnu     paid     47
3    4220  YASHODAR     paid     48
4    4235   PRADEEP  notpaid     49
5    4245     TARUN     paid     50
6    4222    MADAVA  NOtpaid     52
7    4264   hemanth              70
0    4215
1    4217
2    4262
3    4220
4    4235
5    4245
6    4222
7    4264
Name: Rollno, dtype: int64

In [ ]:
print(data[["Jvd","Marks"]])                              #accessing multi columns

       Jvd  Marks
0     paid     40
1  notpaid     56
2     paid     47
3     paid     48
4  notpaid     49
5     paid     50
6  NOtpaid     52
7              70

In [ ]:
print(data.loc[2])                       #  index value  using this type

print(data.iloc[1])                          # iloc means  position based method

Rollno      4262
Names     Vishnu
Jvd         paid
Marks         47
Name: 2, dtype: object
Rollno       4217
Names       TEAJA
Jvd       notpaid
Marks          56
Name: 1, dtype: object

In [ ]:
print(data[data["Marks"]>=50])                   # meaning;-    searching for the inside data (hint:-double )

   Rollno    Names      Jvd  Marks
1    4217    TEAJA  notpaid     56
5    4245    TARUN     paid     50
6    4222   MADAVA  NOtpaid     52
7    4264  hemanth              70